/* la carpeta static es pública */
body{
    background: #090909;
}

.bg-black{
    background: #000;
}

.card-project:hover{
    border: 1px solid #fff;
    cursor: pointer;
}


.div-image-passport{
    width: 60%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.foto-pasaporte{
    width: 60% !important;
    margin-right: 10%;
    margin-left: 60%;
}
.btn-download{
    width: 10% !important;
}
